numpy
pandas
scipy
ml_collections
tqdm
segmentation_models_pytorch
timm
audiomentations
pedalboard
omegaconf
beartype
rotary_embedding_torch
einops
demucs
transformers
torchmetrics
spafe
protobuf
torch_audiomentations
asteroid
auraloss
torchseg